@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
html,body{
  margin:0;
  height:100vh;
  font-family: 'Josefin Sans', sans-serif;
}
a{
  text-decoration:none
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr) repeat(2, 0fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: 66px;
  background: #1abc9c;
}

.parent a{
  color: white;
}

@media only screen and (min-width: 660px) {
.chill-out-logo-text { grid-area: 1 / 1 / 2 / 2;
  position: relative;
  text-align: center;
  color: white;
  margin: auto;
  margin-top: 8px;
  margin-left: 0px;
}

.login-text-button { grid-area: 1 / 3 / 2 / 4;
  position: relative;
  text-align: center;
  color: white;
  margin: auto;
  margin-top: 8px;
  margin-right: 20px;
}

.navbar{
  position: relative;
  text-align: center;
  color: white;
  margin-top: 49px;
  height: 100%;
}

.navbar-ul{
  list-style-type: none;
  margin-top: -23px;
}

}

@media only screen and (max-width: 660px) {
.chill-out-logo-text { grid-area: 1 / 1 / 2 / 2;
  position: relative;
  text-align: center;
  color: white;
  margin: auto;
  margin-top: -10px;
  margin-left: 0px;
  width: 5px;
}


.login-text-button { grid-area: 1 / 3 / 2 / 4;
  position: relative;
  text-align: center;
  color: white;
  margin: auto;
  margin-top: 8px;
  margin-right: 20px;
}

.navbar{
  position: relative;
  text-align: center;
  color: white;
  margin-top: 49px;
  width: 200%;
  margin-left: -50%;
}

.navbar-ul{
  list-style-type: none;
  margin-top: -23px;
}
}

h1 {
  position: relative;
  text-align: left;
  padding-left: 15px;
  margin-top: 12px;
}

ul {
  list-style-type: none;
  margin-top: -5%;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0px;
}

li:last-child {
  border-right: none;
}

li a{
  color: white;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 22px;
}

li a:hover{
  border: 1px solid white;
  background-color: #218f79;
}

.active {
  background-color: #218f79;
}
/*logIn page*/

.log-in-form {
  padding: 10vh 0;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  min-width: 420px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #D3D3D3;
  border-radius: 10px;
  box-shadow: 1px 1px 10px grey;
}

.form-body {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 80%;
  justify-content: center;
  padding: 2rem 0;
}

.form-body .form-input {
  display: flex;
  padding: 0.5rem 0;
  margin: 1rem 0;
  border: 0.5px solid #D3D3D3;
  justify-content: space-around;
  align-items: center;
}

.form-body .form-input i {
  font-size: 1rem;
  padding: 0 1rem;
}

.form-body .form-input input {
  width: 95%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: none;
  font-size: 1rem;
  overflow: hidden;
}

.form-body .form-input input::placeholder {
  font-size: 1rem;
}

.form-body .form-input input:focus {
  outline: none;
}


.button {
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.form-btn {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border: 0.5px solid #D3D3D3;
  background:	#1abc9c;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  width: 100%;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  cursor: pointer;
}

.button input:focus {
  outline: none;
}

.form-btn:hover {
  color: black;
  background: #218f79;
}

.sign-up-link {
  text-align: center;
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: 400;
}

.sign-up-link a {
  text-decoration: none;
  transition: text-decoration 0.3s ease;
}

.sign-up-link a:hover {
  text-decoration: underline;
}
