@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

body{
  height: 100%;
  background: #1abc9c;
}

html {
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

a{
  text-decoration:none
}

/* Header & Navbar */
header{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: #1abc9c;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 3em;
  z-index: 9;
}

header h1{
  text-shadow: 2px 2px 2px #218f79;
  height: 100%;
}

/* Mobile resolution */
@media only screen and (max-width: 799px) {
.logo{
  grid-area: 1 / 2 / 2 / 6;
  display: flex;
  justify-content: center;
  padding-top: 11px;
  color: white;
}

.logo a{
  color: white;
}

.login-button{
  /*grid-area: 1 / 6 / 2 / 7;
  display: flex;
  justify-content: flex-end;
  padding-top: 13px;
  padding-right: 8px;
  color: white;
  font-size: 26px;
  height: 100%;*/
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 0em;
  margin-right: 0.1em;
  display: flex;
  align-items: center;
  padding: 26px 5px;
  font-size: 26px;

}

.login-button a{
  color: white;
}

.login-button a:hover{
  border-radius: 5px;
  background-color: #218f79;
}

.navbar-toggler{
  display: none;
  position: absolute;
}

.navbar-toggler-label{
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0em;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.navbar-toggler-label:hover{
  background-color: #218f79;

}

.navbar-toggler-label span,
.navbar-toggler-label span::before,
.navbar-toggler-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.navbar-toggler-label span::before,
.navbar-toggler-label span::after {
  content: '';
  position: absolute;
}

.navbar-toggler-label span::before {
  bottom: 7px;
}

.navbar-toggler-label span::after {
  top: 7px;
}

navbar{
  position: absolute;
  background: #1abc9c;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
}

navbar ul{
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 0.5em;
}

navbar li{
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-top: 0.2em;
}

navbar li:last-child{
  margin-bottom: 0.5em;
}

navbar a{
  width: 100%;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-shadow: 2px 2px 2px #218f79;
  padding: 10px 20px;
  padding-right: 100%;
}

navbar a:hover{
  background-color: #218f79;
}

.navbar-toggler:checked ~ navbar{
  /*display: block;*/
  display: inline-block;
}

}

/* Desktop resolution */
@media only screen and (min-width: 800px) {
.logo{
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  justify-content: left;
  padding-top: 11px;
  color: white;
  padding-left: 5px;
}

.logo a{
  color: white;
}

.login-button{
  grid-area: 1 / 6 / 2 / 7;
  display: flex;
  justify-content: flex-end;
  padding-top: 13px;
  padding-right: 8px;
  color: white;
  font-size: 26px;
}

.login-button a{
  color: white;
}

.login-button a:hover{
  border-radius: 5px;
  background-color: #218f79;
  padding: 2px;
  padding-right: 0;
  padding-top: 0;
}

.navbar-toggler{
  display: none;
}

navbar{
  display: inline-block;
  grid-area: 1 / 2 / 2 / 6;
  display: flex;
  justify-content: center;
  padding-top: 18px;
  width: 100%;
}

navbar ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

navbar li{
  display: inline-block;
  margin-bottom: 1em;
  margin-left: 1em;
}

navbar a{
  color: white;
  font-size: 1.2rem;
  text-shadow: 2px 2px 2px #218f79;
  padding: 11px 10px;
  margin: 0;

}

navbar a:hover{
  border-radius: 5px;
  background-color: #218f79;
}

}


/*Home page */

.background{
  background:#1B2030 url('../Images/c2.jpg') 100% 0 no-repeat;
  height: 150vh;
  background-blend-mode: cover;
  display: grid;
  color: white;

}

.background h2{
    text-shadow: 1px 1px 3px black;
}

.background h1{
    text-shadow: 1px 1px 3px black;
}


.quotes{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:300%;
  min-height:1250px;
  max-height:100%;
  min-width:300px;
  color:#eee;
}
.quotes:after{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
 background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
}
.quotes:before{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); backface-visibility: hidden;
    transform: translateZ(0);
  background:#1B2030 url('../Images/c2.jpg') 100% 0 no-repeat;
  background-size:100%;
  background-attachment:fixed;
  /*animation: grow 200s  linear 1ms infinite;
  transition:all 0.4s ease-in-out;*/
  z-index:-1
}
.quotes a{
  color:#eee
}

.info{
  width:100%;
  padding:100px 10% 0 10%;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2)
}
.info h4, .meta{
  font-size:1em
}
.meta{
  font-style:italic;
}
@keyframes grow{
  0% { transform: scale(1) translateY(0px)}
  50% { transform: scale(1.2) translateY(-400px)}
}

.background-image{

}
/* head.css  */

label[for=contact-name-label]{
  margin-left: 15px;
  display: block;
  text-align:left;
}

label[for=contact-email-label]{
  margin-left: 15px;
  display: block;
  text-align:left;
}

label[for=contact-message-label]{
  margin-left: 15px;
  display: block;
  text-align:left;
}

.contact-form{
  width: 100%;
  max-width: 500px;
  margin: auto;
}

#contact-name-input, #contact-email-input{
  float: center;
  height: 40px;
  width: 95%;
  border: 2px solid #1abc9c;
  border-radius: 10px;
  margin-top: 6px;
  margin-bottom: 16px;
}

#contact-message-input{
  float: center;
  height: 100px;
  width: 95%;
  text-align: left;
  border: 2px solid #1abc9c;
  border-radius: 10px;
  box-sizing: border-box;
  resize: vertical;
}

#contact-submit-button{
  float: center;
  width: 95%;
  background-color: #1abc9c;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  padding: 20px 100px;
  border: 2px solid #218f79;
  border-radius: 10px;
}

#contact-submit-button:hover{
  background-color: #218f79;
}


/*log in page */

.log-in-form {
  padding: 10vh 0;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  min-width: 420px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #D3D3D3;
  border-radius: 10px;
  box-shadow: 1px 1px 10px grey;
}

.form-body {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 80%;
  justify-content: center;
  padding: 2rem 0;
}

.form-body .form-input {
  display: flex;
  padding: 0.5rem 0;
  margin: 1rem 0;
  border: 0.5px solid #D3D3D3;
  justify-content: space-around;
  align-items: center;
}

.form-body .form-input i {
  font-size: 1rem;
  padding: 0 1rem;
}

.form-body .form-input input {
  width: 95%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: none;
  font-size: 1rem;
  overflow: hidden;
}

.form-body .form-input input::placeholder {
  font-size: 1rem;
}

/* cards */

.flip {
  position: relative;
}
.flip > .front,
.flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 1.5s;
  transition-property: transform, opacity;
}
.flip > .front {
  transform: rotateY(0deg);
}
.flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}
.flip:hover > .front {
  transform: rotateY(180deg);
}
.flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}
.flip.flip-vertical > .back {
  transform: rotateX(-180deg);
}
.flip.flip-vertical:hover > .front {
  transform: rotateX(180deg);
}
.flip.flip-vertical:hover > .back {
  transform: rotateX(0deg);
}

@media only screen and (min-width: 750px) {

.flip {
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
  width: 600px;
  opacity: 1;
}

.flip > .front,
.flip > .back {
  display: block;
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 350px;
  padding: 1em 2em;
  background: #313131;
  border-radius: 10px;
}

}

@media only screen and (max-width: 750px) {

.flip {
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
  width: 500px;
  opacity: 1;
  padding: 0px;
}

.flip > .front,
.flip > .back {
  display: block;
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 350px;
  padding: 1em 2em;
  background: #313131;
  border-radius: 10px;
}

}

@media only screen and (max-width: 650px) {

.flip {
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
  width: 450px;
  /*opacity: 0.8;*/
  opacity: 1;
  padding: 0px;
}

.flip > .front,
.flip > .back {
  display: block;
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 300px;
  padding: 1em 2em;
  background: #313131;
  border-radius: 10px;
}

}

@media only screen and (max-width: 550px) {

.flip {
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
  width: 300px;
  opacity: 1;
  padding: 0px;
}

.flip > .front,
.flip > .back {
  display: block;
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 200px;
  padding: 1em 2em;
  background: #313131;
  border-radius: 10px;
}

}


.flip > .front p,
.flip > .back p {
  font-size: 0.9125rem;
  line-height: 160%;
  color: #999;
}

.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.39);
}
